{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
    <h2>{{title|title}}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Share
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Export
        </button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1" data-bs-toggle="modal" data-bs-target="#addProduct">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        Edit product
      </button>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'store:products_list' %}">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>

<div class="row py-3">
    <div class="col-sm-12">
        <div class="d-flex gap-5">
          <div class="p-2 w-25">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                {% if instance.image %}
                  {% for image in instance.image.all %}
                  <div class="carousel-item active">
                    <img src="{{ image.image.url }}" class="img-thumbnail float-start" alt="...">
                  </div>
                  {% endfor %}
                {% endif %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="p-2 w-100">
            <strong>{{instance.name|upper}}</strong> | <small class="text-muted">{{instance.category|title}}</small>
            <h2>PHP {{instance.price}}</h2>
            <h3>{{instance.model}}</h3>
            <small>QTY: {{instance.quantity}} in stocks</small>
            <button type="button" class="btn btn-sm btn-outline-info border-0 d-flex align-items-center gap-1" data-bs-toggle="modal" data-bs-target="#editProduct">
              Edit product
            </button>
          </div>
        </div>
        
    </div>
</div>
  
  <!-- Modal -->
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'store:products_details' instance.bar_code %}" enctype="multipart/form-data" class="form" method="POST">
        <div class="modal-body">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}